/*General styles*/
body{
    background-color: #dee2e6 !important;
    color: #344767 !important;
}

.dark body{
    background-color: #1a2035 !important;
    color: white !important;
}

/*Navbar custom logo style*/
.navbar-logo{
    width: 160px;
    height: auto;
}

.navbar a{
    font-weight: bold;
}


/*Custom navbar style for desktop*/
@media (min-width: 992px) {

    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar ul {
        align-items: center;
    }

    .navbar a{
        line-height: 1;
    }

     /*Posición del logo a la izquierda, fuera del flexbox*/
    .navbar-logo {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

     /*Posición del avatar a la derecha, fuera del flexbox */
    .navbar-avatar {
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
    }
}


/*Navbar custom style*/
.custom-navbar {
    background-image: linear-gradient(195deg, #344767 0%, #4c586b 100%) !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 71, 103, 1) !important;
    color: black !important;
    font-weight: bold;
}

/*Navbar dark custom style*/
.dark .custom-navbar {
    background-image: linear-gradient(195deg, #4c586b 0%, #344767 100%) !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 71, 103, 1) !important;
    color: white !important;
}

.custom-nav-link{
    color: white !important;

}

.dark .custom-nav-link{
    color: white !important;
}

.custom-nav-dropdown{
    background-color: white !important;
}

.dark .custom-nav-dropdown{
    background-color: #282c34 !important;
    color: white !important;
}


/*Light table row custom style*/
.custom-table-row{
    cursor: pointer !important;

}
.custom-table-row:hover{
    background-color:  #ced4da !important;
}

/*Dark table custom style*/
.dark .custom-dropdown-item:hover{
    background-color:  #344767 !important;
    color: white !important;
}

/*Dark table row custom style*/
.dark .custom-table-row:hover{
    background-color:  #23272e !important;
}


/*h2 custom style*/
.custom-header h2{
    color:  #344767 !important;
}

/*h2 custom dark style*/
.dark .custom-header h2{
    color: white !important;
}

/*h6 custom style*/
.custom-table h6{
    color:  #344767 !important;
}

/*h6 custom dark style*/
.dark .custom-table h6{
    color: white !important;
}





/*!*Colors of view selector*!*/
/*.nav-custom{*/
/*    background-color: red !important;*/
/*}*/
/*.nav-custom:active{*/
/*    background-color: #7b809a !important;*/
/*}*/
/*.dark .nav-custom{*/
/*    background-color: #344767 !important;*/
/*}*/

/*.dark .nav-custom:active{*/
/*    background-color: #344767 !important;*/
/*}*/


/*.nav.nav-pills .nav-link {*/
/*    z-index: 3;*/
/*    color: #344767;*/
/*    border-radius: 0.5rem;*/
/*    background-color: inherit;*/
/*}*/

/*.nav.nav-pills .nav-link.active {*/
/*    animation: 0.2s ease;*/
/*}*/


/*.nav.nav-pills .nav-link:hover:not(.active) {*/
/*    color: #344767;*/
/*}*/

/*.nav.nav-pills .nav-link {*/
/*    z-index: 3;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    border-radius: 0.5rem;*/
/*    background-color: inherit;*/
/*}*/

/*.nav.nav-pills .nav-link.active {*/
/*    animation: 0.2s ease;*/
/*}*/

/*.nav.nav-pills .nav-link:hover:not(.active) {*/
/*    color: #344767;*/
/*}*/

/*!*margin adjust for view selector*!*/
/*.viewselector{*/
/*    margin: -2.5rem 0 -1.8rem 0;*/
/*}*/







/*margin adjust for form card*/
.form-card-position{
    margin: -6rem 0 0 0;
}

/*Card custom style*/
.customcard {
    background-color: #adb5bd;
}

/*Card dark custom style*/
.dark .customcard {
    background-color: #282c34;
}

/*Card mobile custom style*/
.customcardm {
    background-color: #adb5bd;
}

/*Card mobile dark custom style*/
.dark .customcardm {
    background-color: #353844;
}


/*Header card custom style*/
.custom-header-card {
    background-image: linear-gradient(195deg, #4c586b 0%, #344767 100%) !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 71, 103, 1) !important;
}

/*Header card dark custom style*/
.dark .custom-header-card {
    background-image: linear-gradient(195deg, #344767 0%, #4c586b 100%) !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 71, 103, 1) !important;
}

/*Footer custom style*/
.custom-footer {
    text-align: center;
}

.custom-footer p{
    font-weight: bold;
}

.custom-footer .footer-logo {
    width: 250px;
    height: auto;
}

/*Button styles*/
.btn {
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: uppercase;
    background-size: 150%;
    background-position-x: 25%;
    position: relative;
    overflow: hidden;
    -webkit-appearance: none;
}

/*Button new call styles light theme*/
.dark .btn-ncall {
    --bs-btn-color: #000;
    --bs-btn-bg: #f0f2f5;
    --bs-btn-border-color: #f0f2f5;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ccced0;
    --bs-btn-hover-border-color: #c0c2c4;
    --bs-btn-focus-shadow-rgb: 204, 206, 208;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c0c2c4;
    --bs-btn-active-border-color: #b4b6b8;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f0f2f5;
    --bs-btn-disabled-border-color: #f0f2f5;
    top: -2.5rem;
    margin-left: auto;
    margin-right: 1.2rem;
}

/*Button new call styles dark theme*/
.btn-ncall {
    --bs-btn-color: #fff;
    --bs-btn-bg: #344767;
    --bs-btn-border-color: #344767;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #52637e;
    --bs-btn-hover-border-color: #485976;
    --bs-btn-focus-shadow-rgb: 82, 99, 126;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5d6c85;
    --bs-btn-active-border-color: #485976;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #344767;
    --bs-btn-disabled-border-color: #344767;
    top: -2.5rem;
    margin-left: auto;
    margin-right: 1.2rem;
}

/*Buttons table calls styles dark theme*/
.dark .btn-default {
    --bs-btn-color: #000;
    --bs-btn-bg: #f0f2f5;
    --bs-btn-border-color: #f0f2f5;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ccced0;
    --bs-btn-hover-border-color: #c0c2c4;
    --bs-btn-focus-shadow-rgb: 204, 206, 208;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c0c2c4;
    --bs-btn-active-border-color: #b4b6b8;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f0f2f5;
    --bs-btn-disabled-border-color: #f0f2f5;
}

/*Buttons table calls styles light theme*/
.btn-default {
    --bs-btn-color: #fff;
    --bs-btn-bg: #344767;
    --bs-btn-border-color: #344767;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #52637e;
    --bs-btn-hover-border-color: #485976;
    --bs-btn-focus-shadow-rgb: 82, 99, 126;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5d6c85;
    --bs-btn-active-border-color: #485976;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #344767;
    --bs-btn-disabled-border-color: #344767;
}

/*The rest of light button styles for ncall*/
.dark .btn-ncall,
.btn.bg-gradient-light {
    box-shadow: 0 3px 3px 0 rgba(240, 242, 245, 0.15), 0 3px 1px -2px rgba(240, 242, 245, 0.2), 0 1px 5px 0 rgba(240, 242, 245, 0.15);
}

.dark .btn-ncall:hover,
.btn.bg-gradient-light:hover {
    background-color: #f0f2f5;
    border-color: #f0f2f5;
    box-shadow: 0 14px 26px -12px rgba(240, 242, 245, 0.4), 0 4px 23px 0 rgba(240, 242, 245, 0.15), 0 8px 10px -5px rgba(240, 242, 245, 0.2);
}

.dark .btn-ncall .btn.bg-outline-light,
.btn.bg-gradient-light .btn.bg-outline-light {
    border: 1px solid #f0f2f5;
}

.dark .btn-ncall:not(:disabled):not(.disabled).active,
.dark .btn-ncall:not(:disabled):not(.disabled):active,
.show>.btn-ncall.dropdown-toggle,
.dark .btn.bg-gradient-light:not(:disabled):not(.disabled).active,
.dark .btn.bg-gradient-light:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-light.dropdown-toggle {
    color: color-yiq(#f0f2f5);
    background-color: #f0f2f5;
}

/*The rest of dark button styles for ncall*/
.btn-ncall,
.btn.bg-gradient-dark {
    box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15), 0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
}

.btn-ncall:hover,
.btn.bg-gradient-dark:hover {
    background-color: #344767;
    border-color: #344767;
    box-shadow: 0 14px 26px -12px rgba(52, 71, 103, 0.4), 0 4px 23px 0 rgba(52, 71, 103, 0.15), 0 8px 10px -5px rgba(52, 71, 103, 0.2);
}

.btn-ncall .btn.bg-outline-dark,
.btn.bg-gradient-dark .btn.bg-outline-dark {
    border: 1px solid #344767;
}

.btn-ncall:not(:disabled):not(.disabled).active,
.btn-ncall:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle,
.btn.bg-gradient-dark:not(:disabled):not(.disabled).active,
.btn.bg-gradient-dark:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-dark.dropdown-toggle {
    color: color-yiq(#344767);
    background-color: #344767;
}

.btn-ncall.focus,
.btn-ncall:focus,
.btn.bg-gradient-dark.focus,
.btn.bg-gradient-dark:focus {
    color: #fff;
}

/*The rest of light button styles for tcall*/
.dark .btn-default,
.btn.bg-gradient-light {
    box-shadow: 0 3px 3px 0 rgba(240, 242, 245, 0.15), 0 3px 1px -2px rgba(240, 242, 245, 0.2), 0 1px 5px 0 rgba(240, 242, 245, 0.15);
}

.dark .btn-default:hover,
.btn.bg-gradient-light:hover {
    background-color: #f0f2f5;
    border-color: #f0f2f5;
    box-shadow: 0 14px 26px -12px rgba(240, 242, 245, 0.4), 0 4px 23px 0 rgba(240, 242, 245, 0.15), 0 8px 10px -5px rgba(240, 242, 245, 0.2);
}

.dark .btn-default .btn.bg-outline-light,
.btn.bg-gradient-light .btn.bg-outline-light {
    border: 1px solid #f0f2f5;
}

.dark .btn-default:not(:disabled):not(.disabled).active,
.dark .btn-default:not(:disabled):not(.disabled):active,
.show>.btn-default.dropdown-toggle,
.dark .btn.bg-gradient-light:not(:disabled):not(.disabled).active,
.dark .btn.bg-gradient-light:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-light.dropdown-toggle {
    color: color-yiq(#f0f2f5);
    background-color: #f0f2f5;
}

/*The rest of dark button styles for tcall*/
.btn-default,
.btn.bg-gradient-dark {
    box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15), 0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
}

.btn-default:hover,
.btn.bg-gradient-dark:hover {
    background-color: #344767;
    border-color: #344767;
    box-shadow: 0 14px 26px -12px rgba(52, 71, 103, 0.4), 0 4px 23px 0 rgba(52, 71, 103, 0.15), 0 8px 10px -5px rgba(52, 71, 103, 0.2);
}

.btn-default .btn.bg-outline-dark,
.btn.bg-gradient-dark .btn.bg-outline-dark {
    border: 1px solid #344767;
}

.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle,
.btn.bg-gradient-dark:not(:disabled):not(.disabled).active,
.btn.bg-gradient-dark:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-dark.dropdown-toggle {
    color: color-yiq(#344767);
    background-color: #344767;
}

.btn-default.focus,
.btn-default:focus,
.btn.bg-gradient-dark.focus,
.btn.bg-gradient-dark:focus {
    color: #fff;
}



.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}


.custom-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.custom-input-group>.form-control,
.custom-input-group>.form-select,
.custom-input-group>.form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.custom-input-group>.form-control:focus,
.custom-input-group>.form-select:focus,
.custom-input-group>.form-floating:focus-within {
    z-index: 5;
}

.custom-input-group .btn {
    position: relative;
    z-index: 2;
}

.custom-input-group .btn:focus {
    z-index: 5;
}

.custom-input-group-text {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #344767;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #d2d6da;
    border-radius: 0.375rem;
}

.custom-input-group-lg>.form-control,
.custom-input-group-lg>.form-select,
.custom-input-group-lg>.input-group-text,
.custom-input-group-lg>.btn {
    padding: 0.75rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
}

.custom-input-group-sm>.form-control,
.custom-input-group-sm>.form-select,
.custom-input-group-sm>.input-group-text,
.custom-input-group-sm>.btn {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    border-radius: 0.125rem;
}

.custom-input-group-lg>.form-select,
.custom-input-group-sm>.form-select {
    padding-right: 1rem;
}

.custom-input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.custom-input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n + 3),
.custom-input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.custom-input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-input-group.has-validation> :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.custom-input-group.has-validation>.dropdown-toggle:nth-last-child(n + 4),
.custom-input-group.has-validation>.form-floating:nth-last-child(n + 3)>.form-control,
.custom-input-group.has-validation>.form-floating:nth-last-child(n + 3)>.form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.custom-input-group>.form-floating:not(:first-child)>.form-control,
.custom-input-group>.form-floating:not(:first-child)>.form-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*Styles for border on invalid forms*/
.form-control.is-invalid {
    border-bottom: 2px solid #fd5c70 !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

/*Styles for border on invalid forms*/
.form-control.is-invalid:focus {
    outline: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fd5c70 !important; /* Solo mantener el borde inferior */
}

/*Styles for labels filled on focus in forms light theme*/
.input-group.input-group-dynamic.is-focused label,
.input-group.input-group-static.is-focused label {
    color: black;
}


/*Styles for labels filled on focus in forms dark theme*/
.dark .input-group.input-group-dynamic.is-focused label,
.dark .input-group.input-group-static.is-focused label {
    color: #ffffff;
}


/*Styles for border color on focus in forms light theme*/
.input-group.input-group-dynamic .form-control,
.input-group.input-group-dynamic .form-control:focus,
.input-group.input-group-static .form-control,
.input-group.input-group-static .form-control:focus {
    background-image: linear-gradient(0deg, black 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
}


/*Styles for border color on focus in forms dark theme*/
.dark .input-group.input-group-dynamic .form-control,
.dark .input-group.input-group-dynamic .form-control:focus,
.dark .input-group.input-group-static .form-control,
.dark .input-group.input-group-static .form-control:focus {
    background-image: linear-gradient(0deg, #ffffff 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
}


/* Cambiar el color del label cuando el select tiene el foco */
.dark #department_id:focus + label {
    color: white;
}

/* Cambiar el color del label cuando hay un valor seleccionado */
.dark #department_id:not([value=""]):not(:focus) + label {
    color: white;
}

#toggleIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; /* Asegúrate de que el ícono esté por encima del input */
    color: #7b809a; /* Asegúrate de que el color sea gris */
}

.dark #toggleIcon {
    color: #495057; /* Asegúrate de que el color sea gris */
}

#toggleConfirmIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; /* Asegúrate de que el ícono esté por encima del input */
    color: #7b809a; /* Asegúrate de que el color sea gris */
}

.dark #toggleConfirmIcon {
    color: #495057; /* Asegúrate de que el color sea gris */
}


/* Ajuste del contenedor de select2 */
.select2-container--default .select2-selection--single {
    background-color: #adb5bd !important; /* Fondo claro */
    color: white !important; /* Texto blanco */
    border: 1px solid #61677C !important; /* Borde gris oscuro */
    height: 40px !important; /* Ajusta la altura si es necesario */
    border-radius: 0.375rem; /*Bordes redondeados */
}


/*Dark style for Select2*/
.dark .select2-container--default .select2-selection--single {
    background-color: #2A2D34 !important; /* Fondo oscuro */
    border: 1px solid #61677C !important; /* Borde gris oscuro */
}

/* Placeholder personalizado */
.dark .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #B0B0B0 !important; /* Placeholder gris */
}

/* Cambiar el color del borde al enfocar */
.dark .select2-container--default .select2-selection--single:focus {
    border-color: white !important; /* Color del borde enfocado */
}

/* Cambiar el color de fondo de la lista desplegable */
.dark .select2-dropdown {
    background-color: #1a2035 !important; /* Fondo oscuro */
    color: #7b809a !important; /* Texto blanco */
}

/* Estilo de opción seleccionada */
.select2-results__option--highlighted[aria-selected] {
    background-color: #344767 !important; /* Fondo verde claro */
}

/* Padding en las opciones */
.dark .select2-results__option {
    padding: 6px !important;
    user-select: none !important;
    -webkit-user-select: none !important;
}

/* Cambiar el color de fondo de las opciones al pasar el mouse */
.dark .select2-results__option--selectable:hover {
    background-color: #007BFF !important; /* Cambia el color de fondo al pasar el mouse */
    color: white !important;
}

/* Cambiar el color de fondo de las opciones seleccionadas */
.dark .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #344767 !important;
    color: black !important; /* Texto negro */
}

/* Cambiar el color del texto del elemento que estaba previamente seleccionado */
.dark .select2-results__option[aria-selected="true"].select2-results__option--highlighted {
    color: white !important; /* Texto blanco para el seleccionado */
}

/*Dark style for normal selects*/

/* Placeholder personalizado */
.dark select option[value=""] {
    color: #B0B0B0 !important; /* Placeholder gris */
}

/* Cambiar el color del borde al enfocar */
.dark select:focus {
    border-color: white !important; /* Color del borde enfocado */
}

/* Cambiar el color de fondo de la lista desplegable */
.dark select option {
    background-color: #1a2035 !important; /* Fondo oscuro */
    color: #7b809a !important; /* Texto negro */
}

/* Estilo de opción seleccionada */
.dark select option:checked {
    background-color: white !important; /* Fondo oscuro */
    color: black !important; /* Texto blanco */
}

/* Cambiar el color de fondo de las opciones al pasar el mouse */
.dark select option:hover {
    background-color: #344767 !important; /* Cambia el color de fondo al pasar el mouse */
    color: white !important;
}


/*Custom styles for call cards*/
.callcard {
    background-color: #42464f !important;
    cursor: pointer !important;
}

.callcard:hover {
    background-color: #23272e !important;
}

.callcard h6{
    color: white !important;
}

.callheadercard{
    background-color: #1a2035 !important;
}



/*Dark custom styles for call cards*/
.dark .callcard {
    background-color: #282c34 !important;
}

.dark .callcard:hover {
    background-color: #23272e !important;
}

.dark .callcard h6{
    color: white !important;
}

.dark .callheadercard{
    background-color: #1a2035 !important;
}




/*Adjust badges for diferent calls states regardless of their content*/
.badge {
    width: 85px; /* Ajusta el tamaño según tus necesidades */
    display: inline-block;
    text-align: center; /* Asegura que el texto esté centrado */
}


/*!* Hover sobre los días *!*/
/*.xdsoft_calendar td:hover {*/
/*    background-color: #1a2035 !important;  !* Fondo gris oscuro en hover *!*/
/*    color: #ffffff !important;*/
/*}*/

/*.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select .xdsoft_option:hover {*/
/*    background-color: #1a2035 !important;  !* Fondo gris oscuro en hover *!*/
/*    color: #ffffff !important;*/
/*}*/

/*!* Día seleccionado *!*/
/*.xdsoft_calendar .xdsoft_current {*/
/*    border-color: #4a82d0 !important;  !* Azul para mes/año seleccionado *!*/
/*}*/



/* Ajustes generales para el datetimepicker en tema oscuro */
.dark .xdsoft_datetimepicker {
    background-color: #1a2035;  /* Fondo oscuro para todo el datetimepicker */
    color: #ffffff;             /* Texto claro */
    border: 1px solid #444c5c;  /* Borde gris */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Ajustes para los meses */
.dark .xdsoft_month, .dark .xdsoft_year{
    background-color: #1a2035 !important;  /* Fondo oscuro para los meses */
    color: #ffffff !important;             /* Texto claro para los meses */
    border: none;
}

.dark .xdsoft_datetimepicker .xdsoft_label>.xdsoft_select .xdsoft_option {
    background-color: #1a2035 !important;  /* Fondo oscuro para los meses */
    color: white !important;
}

.dark .xdsoft_datetimepicker .xdsoft_label>.xdsoft_select .xdsoft_option:hover {
    background-color: #344767 !important;  /* Color gris oscuro en hover */
    color: white !important;
}

/* Meses en hover */
.dark .xdsoft_month:hover, .dark .xdsoft_year:hover {
    background-color: #344767 !important;  /* Color gris oscuro en hover */
    color: #ffffff !important;
}

/* Mes seleccionado */
.dark .xdsoft_monthpicker .xdsoft_option .xdsoft_current,
.dark .xdsoft_year span.xdsoft_current {
    background-color: #4a82d0 !important;  /* Azul para mes/año seleccionado */
    color: #ffffff !important;
}

/* Días en el calendario */
.dark .xdsoft_calendar td {
    background-color: #1a2035 !important;  /* Fondo oscuro */
    color: #ffffff !important;             /* Texto claro */
    border: 1px solid #444c5c;
}

/* Días no seleccionables (deshabilitados) */
.dark .xdsoft_calendar td.xdsoft_disabled {
    color: #999999 !important;             /* Días deshabilitados en gris claro */
}

/* Día seleccionado */
.dark .xdsoft_calendar .xdsoft_current {
    color: #ffffff !important;
    border-color: #4a82d0;
}

/* Hover sobre los días */
.dark .xdsoft_calendar td:hover {
    background-color: #344767 !important;  /* Fondo gris oscuro en hover */
    color: #ffffff !important;
}

/* Horas en el timepicker */
.dark .xdsoft_timepicker .xdsoft_time {
    background-color: #1a2035 !important;  /* Fondo oscuro */
    color: #ffffff !important;             /* Texto claro */
}

/* Hover sobre las horas */
.dark .xdsoft_timepicker .xdsoft_time:hover {
    background-color: #344767 !important;  /* Fondo gris oscuro en hover */
    color: #ffffff !important;
}

/* Bordes del selector de tiempo */
.dark .xdsoft_time_box {
    border-color: #444c5c;                 /* Borde gris */
}


/*Custom styles for light form check*/
.form-check {
    margin-left: -1rem !important;
}

.form-check-input{
    background-color: #7b809a !important;
    border-color: black !important;
}

.form-check-input:checked {
    background-color: #344767 !important;
}

/*Custom styles for dark form check*/
.dark .form-check-input {
    background-color: #1a2035 !important;
    border-color: #7b809a !important;
}

.dark .form-check-input:checked {
    background-color: #344767 !important;
}

/*Styles for clients dinamic search*/
/* Estilos para el campo de búsqueda en tema claro (estilos base) */
#search-client {
    width: 175px; /* Ajusta según necesites */
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #1a2035;
    font-weight: bold;
    padding: 0.5rem;
    transition: box-shadow 0.3s, background-color 0.3s, border-color 0.3s;

}

#search-client::placeholder {
    color: #7b809a;
}

#search-client:focus {
    box-shadow: 0 0 10px #344767;
    outline: none;
}

/* Ajuste del contenedor del campo de búsqueda para alinearlo a la derecha */
.search-container {
    display: flex;
    justify-content: flex-end; /* Alinea a la derecha */
    align-items: center;
    margin-top: 1rem;
}

/* Estilos para el campo de búsqueda en tema oscuro */
.dark #search-client {
    border: 1px solid #444;
    background-color: #282c34;
    color: #fff;
}

.dark #search-client::placeholder {
    color: #ccc;
}

.dark #search-client:focus {
    background-color: #23272e;
}




/*.table {*/
/*    font-size: small;*/
/*}*/
/*table{*/
/*    height: 100px;*/
/*}*/
/*.nota{*/
/*    width: 40%;*/
/*}*/
/*th{*/
/*    text-align: center;*/
/*}*/
/*td{*/
/*    text-align: center;*/
/*}*/
/*estils iconos*/
/*.oi-plus{*/
/*    color: #686868;*/
/*    font-size: small;*/

/*}*/
/*.oi-plus:hover{*/
/*    color: #1c1c1c;*/

/*}*/
/*.oi-eye{*/
/*    color: #686868;*/
/*    font-size: small;*/
/*}*/
/*.oi-eye:hover{*/
/*    color: #1c1c1c;*/

/*}*/
/*.oi-pencil{*/
/*    color: #686868;*/
/*    font-size: small;*/
/*}*/
/*.oi-pencil:hover{*/
/*    color: #1c1c1c;*/

/*}*/
/*.oi-trash{*/
/*    color: #686868;*/
/*    font-size: small;*/
/*}*/
/*.oi-trash:hover{*/
/*    color: #1c1c1c;*/

/*}*/
/*.btn-link{*/
/*    padding: 0px;*/
/*    border:none;*/
/*}*/
/*estils datetime picker*/
/*.container {*/
/*    margin-top: 5px;*/
/*    margin-left: 10px;*/
/*    width: 600px;*/
/*}*/
/*estils botons envio*/
/*.btn-primary{*/
/*    background-color: #686868;*/
/*    border-color: #1c1c1c;*/
/*}*/
/*.btn-primary:hover{*/
/*    background-color: #1c1c1c;*/
/*    border-color: #686868;*/
/*}*/
/*!*estils links per a tornar atras com un boto*!*/
/*.btn-default{*/
/*    background-color: #686868;*/
/*    border-color: #1c1c1c;*/
/*    color: white;*/
/*}*/
/*.btn-default:hover{*/
/*    background-color: #1c1c1c;*/
/*    border-color: #686868;*/
/*    color: white;*/
/*}*/
/*.btn-default:active{*/
/*    background-color: #006dcc;*/
/*    border-color: #003399;*/
/*}*/
/*.btn-default:focus{*/
/*    background-color: #006dcc;*/
/*    border-color: #006dcc;*/
/*}*/
/*!*estils dropdown*!*/
/*.dropdown-item{*/
/*    active-color: #686868;;*/
/*}*/
/*!*estils logo*!*/
/*.logo{*/
/*    width: 15%;*/
/*}*/
/*.logolink{*/
/*    margin-right: -900px;*/
/*}*/
/*.loginlink{*/
/*    margin-right: 0px;*/
/*}*/
/*.login{*/
/*    margin-left:60%;*/
/*}*/
/*.card{*/
/*    !*float:center;*!*/
/*}*/
